/* ✅ Ajuste para que todas las imágenes mantengan su tamaño y formato */

.fit-cover {
  object-fit: cover;
}

/* ✅ Ajustes de imágenes para artículos y tarjetas */

.Articles-Cards-images {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

